{% extends "Teacher/base.html" %}

{% block content %}

<div class="d-flex justify-content-between mb-4">

    <h2>

        Students

    </h2>

    <a href="{% url 'teacher:student_create' %}"
       class="btn btn-success">

        Add Student

    </a>

</div>

<table class="table table-bordered table-hover">

    <thead class="table-dark">

        <tr>

            <th>ID</th>

            <th>Name</th>

            <th>Roll No.</th>

            <th>Department</th>

            <th>Status</th>

            <th>Action</th>

        </tr>

    </thead>

    <tbody>

        {% for student in students %}

        <tr>

            <td>{{ student.id }}</td>

            <td>{{ student.first_name }} {{ student.last_name }}</td>

            <td>{{ student.rank }}</td>

            <td>{{ student.department }}</td>

            <td>{{ student.status }}</td>

            <td>

                <a href="{% url 'teacher:student_detail' student.pk %}"
                   class="btn btn-info btn-sm">
                    View
                </a>

                <a href="{% url 'teacher:student_update' student.pk %}"
                   class="btn btn-warning btn-sm">

                    Edit

                </a>

            </td>

        </tr>

        {% empty %}

        <tr>

            <td colspan="6"
                class="text-center">

                No Students Found

            </td>

        </tr>

        {% endfor %}

    </tbody>

</table>

{% include "accounts/pagination.html" %}

{% endblock %}